<div class="container" *ngIf="families">
	<form>
	  <div class="row">
	    <div class="col">
	      <input type="text" class="form-control" (keyup)="onFirstNameChangeTo($event.target.value)" placeholder="first name">
	    </div>
	    <div class="col">
	      <input type="text" class="form-control" (keyup)="onSecondNameChangeTo($event.target.value)" placeholder="second name">
	    </div>
	    <div class="col">
	      <input type="text" class="form-control" (keyup)="onPeselChangeTo($event.target.value)" placeholder="pesel">
	    </div>
	    <div class="col">
	      <input type="text" class="form-control" (keyup)="onSexChangeTo($event.target.value)" placeholder="sex">
	    </div>
	  </div>
	</form>

	<br/>
		<h2 class="text-center">Families</h2>
	<br/>

	<table class="table table-hover">
	  <thead class="thead-light">
			<tr>
				<th> Father First Name </th>
				<th> Father Second Name </th>
				<th> Father Pesel </th>
				<th> Father Birth Date </th>
	    </tr>
	  </thead>
	  <tbody>
			<tr class="clickable-row" *ngFor="let family of families" routerLink="/detail/{{family.id}}">
				<td> {{ family.father.firstName }} </td>
				<td> {{ family.father.secondName }} </td>
				<td> {{ family.father.pesel }} </td>
				<td> {{ family.father.birthDate }} </td>
		  </tr>
	  </tbody>
	</table>
</div>