<div class="container" *ngIf="family">

	<br/>
		<h2 class="text-center">Father</h2>
	<br/>

	<table class="table">
	  <thead class="thead-light">
			<tr>
				<th> First Name </th>
				<th> Second Name </th>
				<th> Pesel </th>
				<th> Birth Date </th>
	    </tr>
	  </thead>
	  <tbody>
	  	<tr>
				<td> {{ family.father.firstName }} </td>
				<td> {{ family.father.secondName }} </td>
				<td> {{ family.father.pesel }} </td>
				<td> {{ family.father.birthDate }} </td>
		  </tr>
	  </tbody>
	</table>

	<br/>
		<h2 class="text-center">Children</h2>
	<br/>

	<table class="table">
	  <thead class="thead-light">
			<tr>
				<th> First Name </th>
				<th> Second Name </th>
				<th> Pesel </th>
				<th> Sex </th>
	    </tr>
	  </thead>
	  <tbody>
			<tr *ngFor="let child of family.children">
				<td> {{ child.firstName }} </td>
				<td> {{ child.secondName }} </td>
				<td> {{ child.pesel }} </td>
				<td> {{ child.sex }} </td>
		  </tr>
	  </tbody>
	</table>
</div>